<div class="success-stories-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-12">

        <div class="story-head">
          <p>Success Stories</p>
          <ul class="nav nav-tabs" role="tablist">
            <li class="nav-item" role="presentation">
              <button
                class="nav-link active"
                id="story-tab1-id"
                data-bs-toggle="tab"
                data-bs-target="#story-tab1"
                type="button"
                role="tab"
                aria-controls="tab1"
                aria-selected="true"
              >OUR WORK</button>
            </li>
            <li class="nav-item" role="presentation">
              <button
                class="nav-link"
                id="story-tab2-id"
                data-bs-toggle="tab"
                data-bs-target="#story-tab2"
                type="button"
                role="tab"
                aria-controls="tab2"
                aria-selected="false"
              >CASE STUDY</button>
            </li>
          </ul>
        </div>

        <div class="story-body">
          <div class="story-content">

            <div
              class="tab-pane fade active show"
              id="story-tab1"
              role="tabpanel"
              aria-labelledby="story-tab1-id"
            >
              <div class="story-info">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                  do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                  Quis ipsum suspendisse ultrices gravida. Risus commodo viverra
                  maecenas accumsan lacus vel facilisis.</p>
              </div>
              <div class="story-slider">
                <div class="story-card-container col-12">
                  <div class="story-card">
                    <div class="col-6 info">
                      <h5>
                        Project Title Happiness doesn’t result from what we get
                      </h5>
                      <ul>
                        <li>
                          IOT
                        </li>
                        <li>
                          AWS
                        </li>
                        <li>
                          Cloud
                        </li>
                      </ul>
                      <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                        sed do eiusmod tempor incididunt ut labore et dolore
                        magna aliqua. Quis ipsum suspendisse ultricesfacilis
                      </p>
                      <a href="javascript:void(0)">View More</a>
                    </div>
                    <div class="col-6 img">
                      <img
                        src="../../Content/images/review-img.png"
                        alt="review-img1"
                      />
                    </div>
                  </div>

                  <div class="story-card">
                    <div class="col-6 info">
                      <h5>
                        Project Title Happiness doesn’t result from what we get
                      </h5>
                      <ul>
                        <li>
                          IOT
                        </li>
                        <li>
                          AWS
                        </li>
                        <li>
                          Cloud
                        </li>
                      </ul>
                      <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                        sed do eiusmod tempor incididunt ut labore et dolore
                        magna aliqua. Quis ipsum suspendisse ultricesfacilis
                      </p>
                      <a href="javascript:void(0)">View More</a>
                    </div>
                    <div class="col-6 img">
                      <img
                        src="../../Content/images/review-img.png"
                        alt="review-img1"
                      />
                    </div>
                  </div>

                  <div class="story-card">
                    <div class="col-6 info">
                      <h5>
                        Project Title Happiness doesn’t result from what we get
                      </h5>
                      <ul>
                        <li>
                          IOT
                        </li>
                        <li>
                          AWS
                        </li>
                        <li>
                          Cloud
                        </li>
                      </ul>
                      <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                        sed do eiusmod tempor incididunt ut labore et dolore
                        magna aliqua. Quis ipsum suspendisse ultricesfacilis
                      </p>
                      <a href="javascript:void(0)">View More</a>
                    </div>
                    <div class="col-6 img">
                      <img
                        src="../../Content/images/review-img.png"
                        alt="review-img1"
                      />
                    </div>
                  </div>

                  <div class="story-card">
                    <div class="col-6 info">
                      <h5>
                        Project Title Happiness doesn’t result from what we get
                      </h5>
                      <ul>
                        <li>
                          IOT
                        </li>
                        <li>
                          AWS
                        </li>
                        <li>
                          Cloud
                        </li>
                      </ul>
                      <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                        sed do eiusmod tempor incididunt ut labore et dolore
                        magna aliqua. Quis ipsum suspendisse ultricesfacilis
                      </p>
                      <a href="javascript:void(0)">View More</a>
                    </div>
                    <div class="col-6 img">
                      <img
                        src="../../Content/images/review-img.png"
                        alt="review-img1"
                      />
                    </div>
                  </div>

                  <div class="story-card">
                    <div class="col-6 info">
                      <h5>
                        Project Title Happiness doesn’t result from what we get
                      </h5>
                      <ul>
                        <li>
                          IOT
                        </li>
                        <li>
                          AWS
                        </li>
                        <li>
                          Cloud
                        </li>
                      </ul>
                      <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                        sed do eiusmod tempor incididunt ut labore et dolore
                        magna aliqua. Quis ipsum suspendisse ultricesfacilis
                      </p>
                      <a href="javascript:void(0)">View More</a>
                    </div>
                    <div class="col-6 img">
                      <img
                        src="../../Content/images/review-img.png"
                        alt="review-img1"
                      />
                    </div>
                  </div>

                </div>
              </div>
            </div>

            <div
              class="tab-pane fade"
              id="story-tab2"
              role="tabpanel"
              aria-labelledby="story-tab2-id"
            >
              <div class="story-info">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                  do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                  Quis ipsum suspendisse ultrices gravida. Risus commodo viverra
                  maecenas accumsan lacus vel facilisis.</p>
              </div>
              <div class="story-slider">
                <div class="story-card-container col-12">
                  <div class="story-card">
                    <div class="col-6 info">
                      <h5>
                        Project Title Happiness doesn’t result from what we get
                      </h5>
                      <ul>
                        <li>
                          IOT
                        </li>
                        <li>
                          AWS
                        </li>
                        <li>
                          Cloud
                        </li>
                      </ul>
                      <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                        sed do eiusmod tempor incididunt ut labore et dolore
                        magna aliqua. Quis ipsum suspendisse ultricesfacilis
                      </p>
                      <a href="javascript:void(0)">View More</a>
                    </div>
                    <div class="col-6 img">
                      <img
                        src="../../Content/images/review-img.png"
                        alt="review-img1"
                      />
                    </div>
                  </div>

                  <div class="story-card">
                    <div class="col-6 info">
                      <h5>
                        Project Title Happiness doesn’t result from what we get
                      </h5>
                      <ul>
                        <li>
                          IOT
                        </li>
                        <li>
                          AWS
                        </li>
                        <li>
                          Cloud
                        </li>
                      </ul>
                      <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                        sed do eiusmod tempor incididunt ut labore et dolore
                        magna aliqua. Quis ipsum suspendisse ultricesfacilis
                      </p>
                      <a href="javascript:void(0)">View More</a>
                    </div>
                    <div class="col-6 img">
                      <img
                        src="../../Content/images/review-img.png"
                        alt="review-img1"
                      />
                    </div>
                  </div>

                  <div class="story-card">
                    <div class="col-6 info">
                      <h5>
                        Project Title Happiness doesn’t result from what we get
                      </h5>
                      <ul>
                        <li>
                          IOT
                        </li>
                        <li>
                          AWS
                        </li>
                        <li>
                          Cloud
                        </li>
                      </ul>
                      <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                        sed do eiusmod tempor incididunt ut labore et dolore
                        magna aliqua. Quis ipsum suspendisse ultricesfacilis
                      </p>
                      <a href="javascript:void(0)">View More</a>
                    </div>
                    <div class="col-6 img">
                      <img
                        src="../../Content/images/review-img.png"
                        alt="review-img1"
                      />
                    </div>
                  </div>

                  <div class="story-card">
                    <div class="col-6 info">
                      <h5>
                        Project Title Happiness doesn’t result from what we get
                      </h5>
                      <ul>
                        <li>
                          IOT
                        </li>
                        <li>
                          AWS
                        </li>
                        <li>
                          Cloud
                        </li>
                      </ul>
                      <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                        sed do eiusmod tempor incididunt ut labore et dolore
                        magna aliqua. Quis ipsum suspendisse ultricesfacilis
                      </p>
                      <a href="javascript:void(0)">View More</a>
                    </div>
                    <div class="col-6 img">
                      <img
                        src="../../Content/images/review-img.png"
                        alt="review-img1"
                      />
                    </div>
                  </div>

                  <div class="story-card">
                    <div class="col-6 info">
                      <h5>
                        Project Title Happiness doesn’t result from what we get
                      </h5>
                      <ul>
                        <li>
                          IOT
                        </li>
                        <li>
                          AWS
                        </li>
                        <li>
                          Cloud
                        </li>
                      </ul>
                      <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                        sed do eiusmod tempor incididunt ut labore et dolore
                        magna aliqua. Quis ipsum suspendisse ultricesfacilis
                      </p>
                      <a href="javascript:void(0)">View More</a>
                    </div>
                    <div class="col-6 img">
                      <img
                        src="../../Content/images/review-img.png"
                        alt="review-img1"
                      />
                    </div>
                  </div>

                </div>
              </div>
            </div>

          </div>
        </div>

      </div>
    </div>
  </div>
</div>