<div class="blocks-wrapper">
    <div class="container-fluid">
        <div class="blocks-bg-img ">
            <div class="row">
                <div class="col block-coral ">
                    <div class="block-service">  
                        <h1 class="block-title">Services</h1>
                    </div>
                </div>
                <div class="col border border-white block-item">
                    <div class="block-card">
                        <div class="icon-img"><img src="../../Content/images/con.png" alt="icon"></div>
                        <p class="icon-title">App Development</p>
                        <div class="block-divider"></div>
                    </div>
                    <div class="block-content">
                        <h2 class="block-web-title">App Development</h2>
                        <div class="block-web-divider"></div>
                        <p class="block-web-para">Lorem ipsum dolor sit amet consectetur
                            adipisicing elit. Excepturi consequatur dignissimos animi consequun
                            libero mollitia quis neque in atque qui aut, porro expedita
                            ab aperiam nobis. Nesciunt?
                        </p>
                        <a class="block-link" href="#">Read More</a>
                    </div>
                </div>
                <div class="col border border-white block-item">
                    <div class="block-card">
                        <div class="icon-img"><img src="../../Content/images/con.png" alt="icon"></div>
                        <p class="icon-title">Web Development</p>
                        <div class="block-divider"></div>
                    </div>
                    <div class="block-content">
                        <h2 class="block-web-title">Web Development</h2>
                        <div class="block-web-divider"></div>
                        <p class="block-web-para">Lorem ipsum dolor sit amet consectetur
                            adipisicing elit. Excepturi consequatur dignissimos animi consequun
                            libero mollitia quis neque in atque qui aut, porro expedita
                            ab aperiam nobis. Nesciunt?
                        </p>
                        <a class="block-link" href="#">Read More</a>
                    </div>
                </div>
                <div class="col border border-white block-item">
                    <div class="block-card">
                        <div class="icon-img"><img src="../../Content/images/con.png" alt="icon"></div>
                        <p class="icon-title">Web Designing</p>
                        <div class="block-divider"></div>
                    </div>
                    <div class="block-content">
                        <h2 class="block-web-title">Web Designing</h2>
                        <div class="block-web-divider"></div>
                        <p class="block-web-para">Lorem ipsum dolor sit amet consectetur
                            adipisicing elit. Excepturi consequatur dignissimos animi consequun
                            libero mollitia quis neque in atque qui aut, porro expedita
                            ab aperiam nobis. Nesciunt?
                        </p>
                        <a class="block-link" href="#">Read More</a>
                    </div>
                </div>
                <div class="col border border-white block-item">
                    <div class="block-card">
                        <div class="icon-img"><img src="../../Content/images/con.png" alt="icon"></div>
                        <p class="icon-title">CMS Development</p>
                        <div class="block-divider"></div>
                    </div>
                    <div class="block-content">
                        <h2 class="block-web-title">CMS Development</h2>
                        <div class="block-web-divider"></div>
                        <p class="block-web-para">Lorem ipsum dolor sit amet consectetur
                            adipisicing elit. Excepturi consequatur dignissimos animi consequun
                            libero mollitia quis neque in atque qui aut, porro expedita
                            ab aperiam nobis. Nesciunt?
                        </p>
                        <a class="block-link" href="#">Read More</a>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col border border-white block-item">
                    <div class="block-card">
                        <div class="icon-img"><img src="../../Content/images/con.png" alt="icon"></div>
                        <p class="icon-title">Microsoft 365</p>
                        <div class="block-divider"></div>
                    </div>
                    <div class="block-content">
                        <h2 class="block-web-title">Microsoft 365</h2>
                        <div class="block-web-divider"></div>
                        <p class="block-web-para">Lorem ipsum dolor sit amet consectetur
                            adipisicing elit. Excepturi consequatur dignissimos animi consequun
                            libero mollitia quis neque in atque qui aut, porro expedita
                            ab aperiam nobis. Nesciunt?
                        </p>
                        <a class="block-link" href="#">Read More</a>
                    </div>
                </div>
                <div class="col border border-white block-item">
                    <div class="block-card">
                        <div class="icon-img "><img src="../../Content/images/con.png" alt="icon"></div>
                        <p class="icon-title">Artificial Intelligence</p>
                        <div class="block-divider"></div>
                    </div>
                    <div class="block-content">
                        <h2 class="block-web-title">Artificial Intelligence</h2>
                        <div class="block-web-divider"></div>
                        <p class="block-web-para">Lorem ipsum dolor sit amet consectetur
                            adipisicing elit. Excepturi consequatur dignissimos animi consequun
                            libero mollitia quis neque in atque qui aut, porro expedita
                            ab aperiam nobis. Nesciunt?
                        </p>
                        <a class="block-link" href="#">Read More</a>
                    </div>
                </div>
                <div class="col border border-white block-item">
                    <div class="block-card">
                        <div class="icon-img"><img src="../../Content/images/con.png" alt="icon"></div>
                        <p class="icon-title">Blockchain Development</p>
                        <div class="block-divider"></div>
                    </div>
                    <div class="block-content">
                        <h2 class="block-web-title">Blockchain Development</h2>
                        <div class="block-web-divider"></div>
                        <p class="block-web-para">Lorem ipsum dolor sit amet consectetur
                            adipisicing elit. Excepturi consequatur dignissimos animi consequun
                            libero mollitia quis neque in atque qui aut, porro expedita
                            ab aperiam nobis. Nesciunt?
                        </p>
                        <a class="block-link" href="#">Read More</a>
                    </div>
                </div>
                <div class="col border border-white block-item">
                    <div class="block-card">
                        <div class="icon-img"><img src="../../Content/images/con.png" alt="icon"></div>
                        <p class="icon-title">Cloud Technologies</p>
                        <div class="block-divider"></div>
                    </div>
                    <div class="block-content">
                        <h2 class="block-web-title">Cloud Technologies</h2>
                        <div class="block-web-divider"></div>
                        <p class="block-web-para">Lorem ipsum dolor sit amet consectetur
                            adipisicing elit. Excepturi consequatur dignissimos animi consequun
                            libero mollitia quis neque in atque qui aut, porro expedita
                            ab aperiam nobis. Nesciunt?
                        </p>
                        <a class="block-link" href="#">Read More</a>
                    </div>
                </div>
                <div class="col border border-white block-item">
                    <div class="block-card">
                        <div class="icon-img"><img src="../../Content/images/con.png" alt="icon"></div>
                        <p class="icon-title">Devops Consulting</p>
                        <div class="block-divider"></div>
                    </div>
                    <div class="block-content">
                        <h2 class="block-web-title">Devops Consulting</h2>
                        <div class="block-web-divider"></div>
                        <p class="block-web-para">Lorem ipsum dolor sit amet consectetur
                            adipisicing elit. Excepturi consequatur dignissimos animi consequun
                            libero mollitia quis neque in atque qui aut, porro expedita
                            ab aperiam nobis. Nesciunt?
                        </p>
                        <a class="block-link" href="#">Read More</a>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
</div>