<footer class="footer">
    <div class="footer-wrapper">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-md-3">
                    <div class="footer--box footer-box-1">
                        <ul>
                            <li>
                                <p>Looking for</p>
                                <a href="http://">Career opportunity?</a>
                            </li>
                            <li>
                                <p>Lookin for</p>
                                <a href="tel:123456789">+91 123 456 7890</a>
                            </li>
                            <li>
                                <p>Email address</p>
                                <a href="http://">hr@dotstark.com</a>
                            </li>
                        </ul>
                        <ul class="footer--social">
                            <li>
                                <a href="http://" target="_blank">
                                <i class="fa fa-linkedin" aria-hidden="true"></i>
                                </a>
                            </li>
                            <li>
                                <a href="http://" target="_blank">
                                <i class="fa fa-facebook" aria-hidden="true"></i>
                                </a>
                            </li>
                            <li>
                                <a href="http://" target="_blank">
                                <i class="fa fa-twitter" aria-hidden="true"></i>
                                </a>
                            </li>
                            <li>
                                <a href="http://" target="_blank">
                                <i class="fa fa-instagram" aria-hidden="true"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-6 col-md-3">
                    <div class="footer--box footer-box-2">
                        <h3>Quick links</h3>
                        <ul>
                            <li>
                                <a href="http://">Home page</a>
                            </li>
                            <li>
                                <a href="http://">About us</a>
                            </li>
                            <li>
                                <a href="http://">Testimonials</a>
                            </li>
                            <li>
                                <a href="http://">Our Team</a>
                            </li>
                            <li>
                                <a href="http://">Career</a>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="col-sm-6 col-md-3">
                    <div class="footer--box footer-box-2">
                        <h3>Services</h3>
                        <ul>
                            <li>
                                <a href="http://">Mobile app development</a>
                            </li>
                            <li>
                                <a href="http://">Web development</a>
                            </li>
                            <li>
                                <a href="http://">CMS development</a>
                            </li>
                            <li>
                                <a href="http://">Enterprise Solutions</a>
                            </li>
                            <li>
                                <a href="http://">On-demand Solutions</a>
                            </li>
                            <li>
                                <a href="http://">Blockchain Development</a>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="col-sm-6 col-md-3">
                    <div class="footer--box footer-box-2">
                        <h3>Hire Developers</h3>
                        <ul>
                            <li>
                                <a href="http://">Front End Developers</a>
                            </li>
                            <li>
                                <a href="http://">Business Development Manager</a>
                            </li>
                            <li>
                                <a href="http://">Kentico Developer</a>
                            </li>
                            <li>
                                <a href="http://">Sr. Full Stack Developer</a>
                            </li>
                            <li>
                                <a href="http://">Talent Acquisition Executive</a>
                            </li>
                            <li>
                                <a href="http://">Tech Lead</a>
                            </li>
                            <li>
                                <a href="http://">Manual and Automation Tester</a>
                            </li>
                            <li>
                                <a href="http://">Interns</a>
                            </li>
                        </ul>
                    </div>
                </div>

            </div>
            </div>
            </div>
            <div class="copyright-iso">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="copyright-iso-content">
                                <span>ISO/IEC 27001:2022</span>
                                <i class="icon icon-iso"></i>
                            </div>
                        </div>
            </div>
        </div>
    </div>
    <div class="copyright-wrapper">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <p class="copyright">@ 2023 Dotstark Technologies LLP</p>
                </div>
                <div class="col-md-6">
                    <ul class="copyright--links">
                        <li>
                            <a href="http://">Privacy Policy</a>
                        </li>
                        <li>
                            <a href="http://">Terms &amp; Conditions</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>