<header class="header">
    <div class="header-wrapper">
        <nav class="navbar navbar-expand-lg w-100">
            <div class="logo-wrapper">
                <a class="navbar-brand" href="#">
                    <img src="../../../Content/images/logo-dotstark.png" alt="dotstark logo" />
                </a>
            </div>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll"
                    aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="icon icon-hamburger"></span>
                </button>
                <div class="collapse navbar-collapse w-100" id="navbarScroll">
                    <div class="header--navigation navigation-wrapper">
                        <ul>
                            <li>
                                <a href="#">Company</a>
                            </li>
                            <li class="submenu">
                                <a href="#">Services</a>
                                <ul>
                                    <li><a href="#">Services</a></li>
                                    <li><a href="#">Services</a></li>
                                    <li><a href="#">Services</a></li>
                                    <li><a href="#">Services</a></li>
                                    <li><a href="#">Services</a></li>
                                </ul>
                            </li>
                            <li class="submenu">
                                <a href="#">Portfolios</a>
                                <ul>
                                    <li><a href="#">Services</a></li>
                                    <li><a href="#">Services</a></li>
                                    <li><a href="#">Services</a></li>
                                    <li><a href="#">Services</a></li>
                                    <li><a href="#">Services</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="#">Blogs</a>
                            </li>
                        </ul>
                    <div class="header--right">
                        <a class="btn btn--primary" href="#">Contact us</a>
                    </div>
                    </div>
                    </div>
                    
                    </nav>
    </div>
</header>