<div class="tabs-wrapper container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="tabs-head">

                <ul class="nav nav-tabs" role="tablist">
                    <li class="nav-item" role="presentation">
                        <button class="nav-link active" id="about-tab" data-bs-toggle="tab" data-bs-target="#about"
                            type="button" role="tab" aria-controls="about" aria-selected="true">ABOUT US</button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" id="why-tab" data-bs-toggle="tab" data-bs-target="#why" type="button"
                            role="tab" aria-controls="why" aria-selected="false">WHY DOTSTARK</button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" id="how-tab" data-bs-toggle="tab" data-bs-target="#how" type="button"
                            role="tab" aria-controls="how" aria-selected="false">HOW WE WORK</button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" id="what-tab" data-bs-toggle="tab" data-bs-target="#what" type="button"
                            role="tab" aria-controls="what" aria-selected="false">WHAT WE DO</button>
                    </li>
                </ul>

            </div>
        </div>
        <div class="col-12">
            <div class="tabs-body">
                <div class="tab-content">

                    <div class="tab-pane fade show active" id="about" role="tabpanel" aria-labelledby="about-tab">
                        <div class="tabs-details container">
                            <div class="tabs-title">
                                <p>About Us</p>
                            </div>
                            <div class="tabs-description">
                                <p>There are many companies that offer the same or comparable products/services, and
                                    this has created a demand for differentiation. We measure every delivery step down
                                    to the tiniest details as part of our commitment to provide top-notch services to
                                    our clients. We're proud to share a few of our differentiators with you.</p>
                                <a href="javascript:void(0)">Read More</a>
                            </div>
                        </div>
                        <div class="tabs-partners container">
                            <p>Trusted by startups and Fortune <span>100+</span> partners</p>
                            <img class="img-fluid" src="../../Content/images/partner-logo.png" alt="partners" />
                        </div>
                    </div>

                    <div class="tab-pane fade" id="why" role="tabpanel" aria-labelledby="why-tab">
                        <div class="tabs-details container">
                            <div class="tabs-title">
                                <p>Why Dotstark</p>
                            </div>
                            <div class="tabs-description">
                                <p>There are many companies that offer the same or comparable products/services, and
                                    this has created a demand for differentiation. We measure every delivery step down
                                    to the tiniest details as part of our commitment to provide top-notch services to
                                    our clients. We're proud to share a few of our differentiators with you.</p>
                                <a href="javascript:void(0)">Read More</a>
                            </div>
                        </div>
                        <div class="tabs-partners container">
                            <p>Trusted by startups and Fortune <span>100+</span> partners</p>
                            <img class="img-fluid" src="../../Content/images/partner-logo.png" alt="partners" />
                        </div>
                    </div>

                    <div class="tab-pane fade" id="how" role="tabpanel" aria-labelledby="how-tab">
                        <div class="tabs-details container">
                            <div class="tabs-title">
                                <p>How we Work</p>
                            </div>
                            <div class="tabs-description">
                                <p>There are many companies that offer the same or comparable products/services, and
                                    this has created a demand for differentiation. We measure every delivery step down
                                    to the tiniest details as part of our commitment to provide top-notch services to
                                    our clients. We're proud to share a few of our differentiators with you.</p>
                                <a href="javascript:void(0)">Read More</a>
                            </div>
                        </div>
                        <div class="tabs-partners container">
                            <p>Trusted by startups and Fortune <span>100+</span> partners</p>
                            <img class="img-fluid" src="../../Content/images/partner-logo.png" alt="partners" />
                        </div>
                    </div>

                    <div class="tab-pane fade" id="what" role="tabpanel" aria-labelledby="what-tab">
                        <div class="tabs-details container">
                            <div class="tabs-title">
                                <p>What we do</p>
                            </div>
                            <div class="tabs-description">
                                <p>There are many companies that offer the same or comparable products/services, and
                                    this has created a demand for differentiation. We measure every delivery step down
                                    to the tiniest details as part of our commitment to provide top-notch services to
                                    our clients. We're proud to share a few of our differentiators with you.</p>
                                <a href="javascript:void(0)">Read More</a>
                            </div>
                        </div>
                        <div class="tabs-partners container">
                            <p>Trusted by startups and Fortune <span>100+</span> partners</p>
                            <img class="img-fluid" src="../../Content/images/partner-logo.png" alt="partners" />
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>