<div class="hero-wrapper " id="hero">
    <div class="container">
    <div class="row">
        <div class="col-12">
            <div class="hero-head">
                <h2>Life of DotStark</h2>
                <h1>
                    Join our community <br>
                    and help define it.
                </h1>
            </div>
            <div class="hero-body">
                <h3>
                    A Strategic and Growth Partner in Your Digital <br>
                    Transformation Journey Software Development <br>
                    that Empowers you to Scale Innovation
                </h3>
                <a href="javascript:void(0)">Learn about life at DotStark</a>
            </div>
            <div class="hero-ratings">
                <img class="img-fluid" src="../../Content/images/review.png" alt="reviews" />
            </div>
        </div>
    </div>
    </div>
</div>