.top-div-bg{
        font-family: $poppinsFont-family;
        background:#fc4906;

        .top-div-heading{
padding: 10px 0;
  .top-div-content{
    color: #ffffff;
    margin-bottom: 0;
    font-weight: 600;
    cursor: pointer;
  }
    }
    }