<div class="context-wrapper img-fluid">
  <div class="container">
 <div class="context-main">
      <div class="context-pri-content">
     <div class="row">
      <div class="col-12">
        <h1 class="context-title">Industry</h1>
        <div class="context-para">
          <p class="context-description">
            There are many companies that offer the same or comparable
            products/services, and this has created a demand for
            differentiation. We measure every delivery step down to the tiniest
            details as part of our commitment to provide top-notch services to
            our clients. We're proud to share a few of our differentiators with
            you.
          </p>
        </div>
      </div>
    </div>
   </div>
   <div class="context-secondary">
    <div class="row">
        <div class="col">
            <div class="col-content">
                <div class="icon">
                    <img src="../../Content/images/favicon.ico" alt="no icon">
                </div>
                <p class="col-title">Ecommerce & title</p>
            </div>
            
        </div>
        <div class="col ">
            <div class="col-content">
                <div class="icon">
                    <img src="../../Content/images/favicon.ico" alt="no icon">
                </div>
                <p class="col-title">Resturant</p>
            </div>
            
        </div>
        <div class="col ">
            <div class="col-content">
                <div class="icon">
                    <img src="../../Content/images/favicon.ico" alt="no icon">
                </div>
                <p class="col-title">Media & Enterntainment</p>
            </div>
            
        </div>
        <div class="col ">
            <div class="col-content">
                <div class="icon">
                    <img src="../../Content/images/favicon.ico" alt="no icon">
                </div>
                <p class="col-title">Evert Management</p>
            </div>
            
        </div>
        <div class="col">
            <div class="col-content">
                <div class="icon">
                    <img src="../../Content/images/favicon.ico" alt="no icon">
                </div>
                <p class="col-title">Real Estate</p>
            </div>
            
        </div>
        <div class="col bg-transaprent">
            <div class="col-content">
                <div class="icon">
                    <img src="../../Content/images/favicon.ico" alt="no icon">
                </div>
                <p class="col-title">HealthCare</p>
            </div>
            
        </div>
        <div class="col bg-transaprent">
            <div class="col-content">
                <div class="icon">
                    <img src="../../Content/images/favicon.ico" alt="no icon">
                </div>
                <p class="col-title">School Management</p>
            </div>
            
        </div>
        <div class="col bg-transaprent">
            <div class="col-content">
                <div class="icon">
                    <img src="../../Content/images/favicon.ico" alt="no icon">
                </div>
                <p class="col-title ">Logistics & transport</p>
            </div>
            
        </div>
        <div class="col bg-transaprent">
            <div class="col-content">
                <div class="icon">
                    <img src="../../Content/images/favicon.ico" alt="no icon">
                </div>
                <p class="col-title">Fintech</p>
            </div>
            
        </div>
        <div class="col  bg-transaprent">
            <div class="col-content">
                <div class="icon">
                    <img src="../../Content/images/favicon.ico" alt="no icon">
                </div>
                <p class="col-title">Travel & hospitality</p>
            </div>
            
        </div>
    </div>
   </div>
 </div>
  </div>
</div>