<div class="container">
  <div class="row">
    <div class="col-12">
      <h2>Style Guide</h2>
      <div class="row">
        <div class="col-md-3 mb-5">
          <div class="sg-box primary-bg p-5 text-center">
            Primary:<br />#000000
          </div>
        </div>
        <div class="col-md-3 mb-5">
          <div class="sg-box secondary-bg p-5 text-center">
            Secondary: <br />#fc0d5e
          </div>
        </div>

        <div class="col-md-3 mb-5">
          <div class="sg-box tertiary-bg p-5 text-center">
            Tertiary: <br />#ef5d25
          </div>
        </div>
        <div class="col-md-3 mb-5">
          <div class="sg-box darkGrey-bg p-5 text-center">
            darkGrey: <br />#111111
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-3 mb-5">
          <div class="sg-box grey-bg p-5 text-center">Grey:<br />#cccccc</div>
        </div>
        <div class="col-md-3 mb-5">
          <div class="sg-box lightGrey-bg p-5 text-center">
            lightGrey: <br />#fafafa
          </div>
        </div>

        <div class="col-md-3 mb-5">
          <div class="sg-box lightPink-bg p-5 text-center">
            lightPink: <br />#fff2ed
          </div>
        </div>
        <div class="col-md-3 mb-5">
          <div class="sg-box white-bg p-5 text-center">
            white: <br />#ffffff
          </div>
        </div>
      </div>
      
      <div class="row mb-5">
        <div class="col-md-3 mb-5">
          <div class="sg-box gradient-bg p-5 text-center">
            gradient: <br />#fafafa
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <h3 class="heading-text">Headlines</h3>
      <div class="Styleguide-Headings">
        <h1>This is H1</h1>
        <h2>This is H2</h2>
        <h3>This is H3</h3>
        <h4>This is H4</h4>
        <h5>This is H5</h5>
        <h6>This is H6</h6>
      </div>
    </div>
    <div class="col-md-6">
      <h3 class="heading-text">Paragraph</h3>
      <div class="Styleguide-Paragraphs">
        <p>Regular font size paragraph: Lorem Ipsum Dummy text</p>
        <p class="paragraph-large">
          Large font size paragraph: Lorem Ipsum Dummy text
        </p>
        <p>
          Regular font size paragraph with <strong>bold</strong>: Lorem Ipsum
          <strong>asjkdhah</strong> Dummy text
        </p>
        <p>
          Regular font size paragraph with <strong>link</strong>: Lorem Ipsum
          <a href="#">link</a> Dummy text
        </p>
      </div>
    </div>
  </div>
</div>