<div class="cta-wrapper">
  <div class="container">
    <div class="row flex-column flex-md-row flex-column-reverse ">
      <div class="col-md-7">
        <div class="cta-content">
          <h1 class="cta-title">Happiness doesn’t result from what we get, but
            from what we give.</h1>
            <button class="cta-btn" type="submit"><a href="#" class="text-white text-decoration-none">Our active contribution</a></button>
        </div>
      </div>
      <div class="col-md-5">
        <div class="cta-img">
            <img class="cta-border img-fluid" src="../../Content/images/cta-img.jpg" alt="">
        </div>
      </div>
    </div>
  </div>
</div>