
.footer {
    &-wrapper {
        padding: 45px 0px;
        ul {
            list-style: none;
            padding: 0px;
            margin: 0px;
        }
    }
    border-top: 1px solid #ccc;
    h3 {
        font-size: 18px;
        font-weight: 600;
        line-height: 24px;
        margin-bottom: 20px;
    }
    &--box {
        margin-bottom: 30px;
        @include desktop{
            margin-bottom: 0;
        }
        a {
            font-size: 15px;
            text-decoration: none;
            line-height: 1.5;
            margin-bottom: 8px;
            display: block;
        }
        &.footer-box-1{
            a,p{
                font-size: 18px;
                font-weight: 600;
                line-height: 24px;
                margin-bottom: 0;
            }
            ul {
                li {
                     a {
                        color: #fc0d5e;
                        margin-bottom: 22px;
                        display: block;
                    }
                }
                &.footer--social {
                    display: flex;
                    a {
                        color: #fff;
                        background: #000;
                        width: 30px;
                        height: 30px;
                        line-height: 30px;
                        text-align: center;
                        border-radius: 50%;
                        margin-right: 5px;
                    }
                }
            }
        }
    }
     .copyright-iso{
                background-color: #006cb8;
                padding: 8px;
                text-align: center;
                font-size: 22px;
                color: #fff;
                font-weight: 500;
                &-content{
                    display: flex;
                align-items: center;
                justify-content: center;
                .icon{
                    font-size: 40px;
                    margin-left: 15px;
                }
                }
            }
    .copyright-wrapper {
        background: #000;
        color: #ffff;
        min-height: 60px;
        padding: 10px 0px;
        display: flex;
        align-items: center;
        p{
            margin-bottom: 0px;
            text-align: center;
            @include desktop{
                     text-align: left;
                }
        }
        .copyright{
            &--links {
                list-style: none;
                padding: 0px;
                margin: 0px;
                display: flex;
                justify-content: center;
                @include desktop{
                     justify-content: flex-end;
                }
                a {
                    color: #fff;
                    text-decoration: none;
                    padding: 0px 15px;
                    position: relative;
                    &::after{
                        content: "|";
                        position: absolute;
                        right: 0px;
                    }
                }
                li{
                    &:last-child{
                        a{
                            padding-right: 0px;
                            &::after{
                                content: none;
                            }
                        }
                    }
                }
            }
           
        }
    }
}
