<div class="contactus-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-12 contactus">
                <div class="contactus-top text-center">
                    <h2>Contact Us </h2>
                    <p>Looking for a design partner? you found.</p>
                </div>
                <div class="contactus-bottom row">
                    <div class="left col-lg-5">
                        <h3>What will be the next step?</h3>
                        <p>You are one step closer to build your perfect product</p>
                        <ul class="line">
                            <li>
                                <p>1. We'll prepare a proposal</p>
                                <span>Lorem ipsum dolor sit amet, consectetur elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse accumsan.</span>
                            </li>
                            <li>
                                <p>2. We'll prepare a proposal</p>
                               <span>Lorem ipsum dolor sit amet, consectetur elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse accumsan.</span>
                            </li>
                            <li>
                                <p>3. We'll prepare a proposal</p>
                                <span>Lorem ipsum dolor sit amet, consectetur elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse accumsan.</span>
                           </li>
                        </ul>
                        <div class="bottom">
                            <div class="contactus-bottom--top">
                                <p>We offer a 30-minute</p>
                                <p>Free Consultation</p>
                            </div>
                            <div class="contactus-bottom--last">
                                <div class="bottom-last-left">
                                    <img src="../../Content/images/photo.png" alt="photo"/>
                                </div>
                                <div class="bottom-last-right">
                                    <p>Anthony</p>
                                    <p>Sales Consultant</p>
                                    <p><span>+91 123 456 77889</span> <span>+91 123 456 77889</span> </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="right col-lg-7">
                        <div class="contactus-form">
                            <p>Write us a few words about your project and we’ll prepare a propare a proposal for you within 24 hours.</p>
                            <form class="row">
                                <div class="form-group col-md-6">
                                    <label for="fname">Your First Name</label>
                                    <input type="text" id="fname" name="fname">
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="fname">Your Last Name</label>
                                    <input type="text" id="fname" name="fname">
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="fname">Your Email</label>
                                    <input type="text" id="fname" name="fname">
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="fname">Your Number</label>
                                    <input type="text" id="fname" name="fname">
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="fname">How did you hear about us?</label>
                                    <select name="cars" id="cars">
                                        <option value="volvo">Volvo</option>
                                        <option value="saab">Saab</option>
                                        <option value="mercedes">Mercedes</option>
                                        <option value="audi">Audi</option>
                                    </select>
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="fname">I am interested in</label>
                                    <select name="cars" id="cars">
                                        <option value="volvo">Volvo</option>
                                        <option value="saab">Saab</option>
                                        <option value="mercedes">Mercedes</option>
                                        <option value="audi">Audi</option>
                                    </select>
                                </div>
                                <div class="form-group col-md-12">
                                    <label for="fname">Message</label>
                                    <textarea id="w3review" name="w3review" rows="4" cols="50"></textarea>
                                </div>
                                <div class="form-group col-12 text-center">
                                    <input type="submit" value="Submit">
                                </div>
                            </form>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>