<div class="address-wrapper container-fluid">
    <div class="row m-0">
        <div class="col-md-4 address-col">
            <div class="address-section">
                <div class="address-item">
                    <img class="img-fluid" src="https://dummyimage.com/650x250/000/fff" alt="Image" />
                    <div class="address">
                        <div class="title">
                            USA
                        </div>
                        <div class="content">
                            <p>3101 N.Center Ave,<br /> STE 183#3541, Phonix, Arizona, 85012, USA</p>
                            <p>Contact: +1(602) 427-8361</p>
                        </div>
                    </div>
                </div>
                <div class="address-item">

                    <img class="img-fluid" src="https://dummyimage.com/650x250/000/fff" alt="Image" />
                    <div class="address">
                        <div class="title">
                            Malasiya
                        </div>
                        <div class="content">
                            <p>Plaza 33, No.1, Jalan Kemajuan,<br />
                                Seksyen 13, 46200,<br />
                                Petaling Jaya, Selangor, Malaysia</p>
                            <p>Contact: +601 153773751</p>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="col-md-4 address-col">
            <div class="address-section">
                <div class="address-item single-section">

                    <img class="img-fluid" src="https://dummyimage.com/618x500/000/fff" alt="Image" />
                    <div class="address">
                        <div class="title">
                            India
                            <span class="highlight">Head Office</span>
                        </div>
                        <div class="content">
                            <p>1st Floor, Opp. Metro Pillar No. 97,<br />
                                New Sanganer Road,<br />
                                Jaipur - 302019 Rajasthan, India.</p>
                            <p>Contact: (+91)9887-55555-9<br />
                                support@dotstark.com</p>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="col-md-4 address-col">
            <div class="address-section">
                <div class="address-item">

                    <img class="img-fluid" src="https://dummyimage.com/650x250/000/fff" alt="Image" />
                    <div class="address">
                        <div class="title">
                            London
                        </div>
                        <div class="content">
                            <p>5, Grantham Gardens, London RM6 6HH</p>
                            <p>Contact - +44 (0) 7482 170712</p>
                        </div>
                    </div>

                </div>
                <div class="address-item">

                    <img class="img-fluid" src="https://dummyimage.com/650x250/000/fff" alt="Image" />
                    <div class="address">
                        <div class="title">
                            NEW ZEALAND
                        </div>
                        <div class="content">
                            <p>27 Union Street Auckland Central, Auckland City</p>
                            <p>Contact: +64 27318 3266</p>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>