<div class="office-wrapper">
  <div class="container-fluid px-0">
    <div class="row p-0">
      <div class="column p-0">
        <div class="office-card border border-white">
          <div class="office-bg-img-1 img-fluid">
            <div class="office-content-wrapper text-white">
              <h1 class="office-location">USA</h1>
              <p class="office-address">3101 N. Central Ave, STE 183#3541,
                Phoenix, Arizona</p>
              <p class="office-contact">Contact: +1(602) 427-8361</p>
            </div>
          </div>
        </div>
        <div class="office-card border border-white">
          <div class="office-bg-img-2">
            <div class="office-content-wrapper text-white">
              <h1 class="office-location">MALAYSIA</h1>
              <p class="office-address">Plaza 33, No.1, Jalan Kemajuan, Seksyen
                13, 46200, Petaling Jaya, Selangor, Malaysia</p>
              <p class="office-contact">Contact: +601 153773751</p>
            </div>
          </div>
        </div>
      </div>
      <div class="column p-0">
        <div class="office-card-3 border border-white">
          <div class="office-bg-img-3 img-fluid">
            <div class="office-content-wrapper text-white">
              <div class="office-head">
                <h1 class="office-location">INDIA</h1>
                <p class="office-patch">Head Office</p>
              </div>
              <p class="office-address">1st Floor, Opp. Metro Pillar No. 97, New
                Sanganer Road, Jaipur - 302019 Rajasthan, India.</p>
              <p class="office-contact">Contact: (+91)9887-55555-9</p>
              <p class="office-email">support@dotstark.com</p>
            </div>
          </div>
        </div>

      </div>
      <div class="column p-0">
        <div class="office-card border border-white">
          <div class="office-bg-img-4 img-fluid ">
            <div class="office-content-wrapper text-white">
              <h1 class="office-location">LONDON</h1>
              <p class="office-address">5, Grantham Gardens, London RM6 6HH</p>
              <p class="office-contact">Contact - +44 (0) 7482 170712</p>
            </div>
          </div>
        </div>
        <div class="office-card border border-white">
          <div class="office-bg-img-5 img-fluid">
            <div class="office-content-wrapper text-white">
              <h1 class="office-location">NEW ZEALAND</h1>
              <p class="office-address">27 Union Street Auckland Central,
                Auckland City</p>
              <p class="office-contact">Contact: +64 27318 3266</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>