<div class="testimonial-slider-wrapper">
  <div class="container">
    <div class="row">
      <div class="customer-wrap">
        <p>Our Happy Customers</p>
        <div class="customer-slider-container">

          <div class="customer-card">
            <p>I've worked with DotStark on our Kentico instance. Not only did
              team complete all projects we tasked them with, they did so with
              exceptional quality and timeliness. In addition to the exceptional
              work, team taught us best practices moving forward for potential
              scalability on what assisted us with. DotStark proved vital to me
              and my project timelines and remains my first option in Kentico
              projects.</p>
            <span>Director, Malic Vann, USA</span>
          </div>

          <div class="customer-card">
            <p>
              DotStark Team has been really great at understanding our issues,
              and working with us and other external contractors, to fix the
              issues.
            </p>
            <span>General Manager, Cassie, Australia</span>
          </div>

          <div class="customer-card">
            <p>I've worked with DotStark on our Kentico instance. Not only did
              team complete all projects we tasked them with, they did so with
              exceptional quality and timeliness. In addition to the exceptional
              work, team taught us best practices moving forward for potential
              scalability on what assisted us with. DotStark proved vital to me
              and my project timelines and remains my first option in Kentico
              projects.</p>
            <span>Director, Malic Vann, USA</span>
          </div>

          <div class="customer-card">
            <p>
              DotStark Team has been really great at understanding our issues,
              and working with us and other external contractors, to fix the
              issues.
            </p>
            <span>General Manager, Cassie, Australia</span>
          </div>

          <div class="customer-card">
            <p>I've worked with DotStark on our Kentico instance. Not only did
              team complete all projects we tasked them with, they did so with
              exceptional quality and timeliness. In addition to the exceptional
              work, team taught us best practices moving forward for potential
              scalability on what assisted us with. DotStark proved vital to me
              and my project timelines and remains my first option in Kentico
              projects.</p>
            <span>Director, Malic Vann, USA</span>
          </div>

          <div class="customer-card">
            <p>
              DotStark Team has been really great at understanding our issues,
              and working with us and other external contractors, to fix the
              issues.
            </p>
            <span>General Manager, Cassie, Australia</span>
          </div>

          <div class="customer-card">
            <p>I've worked with DotStark on our Kentico instance. Not only did
              team complete all projects we tasked them with, they did so with
              exceptional quality and timeliness. In addition to the exceptional
              work, team taught us best practices moving forward for potential
              scalability on what assisted us with. DotStark proved vital to me
              and my project timelines and remains my first option in Kentico
              projects.</p>
            <span>Director, Malic Vann, USA</span>
          </div>

          <div class="customer-card">
            <p>
              DotStark Team has been really great at understanding our issues,
              and working with us and other external contractors, to fix the
              issues.
            </p>
            <span>General Manager, Cassie, Australia</span>
          </div>

          <div class="customer-card">
            <p>I've worked with DotStark on our Kentico instance. Not only did
              team complete all projects we tasked them with, they did so with
              exceptional quality and timeliness. In addition to the exceptional
              work, team taught us best practices moving forward for potential
              scalability on what assisted us with. DotStark proved vital to me
              and my project timelines and remains my first option in Kentico
              projects.</p>
            <span>Director, Malic Vann, USA</span>
          </div>

          <div class="customer-card">
            <p>
              DotStark Team has been really great at understanding our issues,
              and working with us and other external contractors, to fix the
              issues.
            </p>
            <span>General Manager, Cassie, Australia</span>
          </div>

        </div>
      </div>
      <div class="client-logos">
        <p>Our Clients</p>
        <ul>
          <li>
            <img class="img-fluid" src="../../Content/images/client-logo.svg" alt="logo" />
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>