<div class="icon-tabs-wrapper container">
    <div class="row">
        <div class="col-12">
            <div class="tabs-head">
                <p>Tech Stach We Use</p>
                <ul class="nav nav-tabs" role="tablist">
                    <li class="nav-item" role="presentation">
                        <button class="nav-link active" id="tab1-id" data-bs-toggle="tab" data-bs-target="#tab1"
                            type="button" role="tab" aria-controls="tab1" aria-selected="true">MOBILE</button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" id="tab2-id" data-bs-toggle="tab" data-bs-target="#tab2" type="button"
                            role="tab" aria-controls="tab2" aria-selected="false">FRONT-END</button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" id="tab3-id" data-bs-toggle="tab" data-bs-target="#tab3" type="button"
                            role="tab" aria-controls="tab3" aria-selected="false">BACK-END</button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" id="tab4-id" data-bs-toggle="tab" data-bs-target="#tab4" type="button"
                            role="tab" aria-controls="tab4" aria-selected="false">NEXT-GEN</button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" id="tab5-id" data-bs-toggle="tab" data-bs-target="#tab5" type="button"
                            role="tab" aria-controls="tab5" aria-selected="false">ECOM-CMS</button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" id="tab6-id" data-bs-toggle="tab" data-bs-target="#tab6" type="button"
                            role="tab" aria-controls="tab6" aria-selected="false">OTHER</button>
                    </li>
                </ul>
            </div>
            <div class="tabs-body">
                <div class="tab-content">

                    <div class="tab-pane fade show active" id="tab1" role="tabpanel" aria-labelledby="tab1-id">
                        <ul>
                            <li>
                                <a href="javascript:void(0)" class="tech-item">
                                    <img src="../../Content/images/android.png" alt="android-img">
                                    <p>ANDROID</p>
                                </a>
                            </li>
                            <li>
                                <a href="javascript:void(0)" class="tech-item">
                                    <img src="../../Content/images/ios.png" alt="ios-img">
                                    <p>IOS</p>
                                </a>
                            </li>
                            <li>
                                <a href="javascript:void(0)" class="tech-item">
                                    <img src="../../Content/images/flutter.png" alt="flutter-img">
                                    <p>FLUTTER</p>
                                </a>
                            </li>
                            <li>
                                <a href="javascript:void(0)" class="tech-item">
                                    <img src="../../Content/images/react.png" alt="react-img">
                                    <p>REACT NATIVE</p>
                                </a>
                            </li>
                            <li>
                                <a href="javascript:void(0)" class="tech-item">
                                    <img src="../../Content/images/swift.png" alt="swift-img">
                                    <p>SWIFT</p>
                                </a>
                            </li>
                            <li>
                                <a href="javascript:void(0)" class="tech-item">
                                    <img src="../../Content/images/ionic.png" alt="ionic-img">
                                    <p>IONIC</p>
                                </a>
                            </li>
                            <li>
                                <a href="javascript:void(0)" class="tech-item">
                                    <img src="../../Content/images/kotlin.png" alt="kotlin-img">
                                    <p>KOTLIN</p>
                                </a>
                            </li>
                        </ul>
                    </div>

                    <div class="tab-pane fade" id="tab2" role="tabpanel" aria-labelledby="tab2-id">
                        <ul>
                            <li>
                                <a href="javascript:void(0)" class="tech-item">
                                    <img src="../../Content/images/android.png" alt="android-img">
                                    <p>ANDROID</p>
                                </a>
                            </li>
                            <li>
                                <a href="javascript:void(0)" class="tech-item">
                                    <img src="../../Content/images/ios.png" alt="ios-img">
                                    <p>IOS</p>
                                </a>
                            </li>
                            <li>
                                <a href="javascript:void(0)" class="tech-item">
                                    <img src="../../Content/images/flutter.png" alt="flutter-img">
                                    <p>FLUTTER</p>
                                </a>
                            </li>
                            <li>
                                <a href="javascript:void(0)" class="tech-item">
                                    <img src="../../Content/images/react.png" alt="react-img">
                                    <p>REACT NATIVE</p>
                                </a>
                            </li>
                            <li>
                                <a href="javascript:void(0)" class="tech-item">
                                    <img src="../../Content/images/swift.png" alt="swift-img">
                                    <p>SWIFT</p>
                                </a>
                            </li>
                            <li>
                                <a href="javascript:void(0)" class="tech-item">
                                    <img src="../../Content/images/ionic.png" alt="ionic-img">
                                    <p>IONIC</p>
                                </a>
                            </li>
                            <li>
                                <a href="javascript:void(0)" class="tech-item">
                                    <img src="../../Content/images/kotlin.png" alt="kotlin-img">
                                    <p>KOTLIN</p>
                                </a>
                            </li>
                        </ul>
                    </div>

                    <div class="tab-pane fade" id="tab3" role="tabpanel" aria-labelledby="tab3-id">
                        <ul>
                            <li>
                                <a href="javascript:void(0)" class="tech-item">
                                    <img src="../../Content/images/android.png" alt="android-img">
                                    <p>ANDROID</p>
                                </a>
                            </li>
                            <li>
                                <a href="javascript:void(0)" class="tech-item">
                                    <img src="../../Content/images/ios.png" alt="ios-img">
                                    <p>IOS</p>
                                </a>
                            </li>
                            <li>
                                <a href="javascript:void(0)" class="tech-item">
                                    <img src="../../Content/images/flutter.png" alt="flutter-img">
                                    <p>FLUTTER</p>
                                </a>
                            </li>
                            <li>
                                <a href="javascript:void(0)" class="tech-item">
                                    <img src="../../Content/images/react.png" alt="react-img">
                                    <p>REACT NATIVE</p>
                                </a>
                            </li>
                            <li>
                                <a href="javascript:void(0)" class="tech-item">
                                    <img src="../../Content/images/swift.png" alt="swift-img">
                                    <p>SWIFT</p>
                                </a>
                            </li>
                            <li>
                                <a href="javascript:void(0)" class="tech-item">
                                    <img src="../../Content/images/ionic.png" alt="ionic-img">
                                    <p>IONIC</p>
                                </a>
                            </li>
                            <li>
                                <a href="javascript:void(0)" class="tech-item">
                                    <img src="../../Content/images/kotlin.png" alt="kotlin-img">
                                    <p>KOTLIN</p>
                                </a>
                            </li>
                        </ul>
                    </div>

                    <div class="tab-pane fade" id="tab4" role="tabpanel" aria-labelledby="tab4-id">
                        <ul>
                            <li>
                                <a href="javascript:void(0)" class="tech-item">
                                    <img src="../../Content/images/android.png" alt="android-img">
                                    <p>ANDROID</p>
                                </a>
                            </li>
                            <li>
                                <a href="javascript:void(0)" class="tech-item">
                                    <img src="../../Content/images/ios.png" alt="ios-img">
                                    <p>IOS</p>
                                </a>
                            </li>
                            <li>
                                <a href="javascript:void(0)" class="tech-item">
                                    <img src="../../Content/images/flutter.png" alt="flutter-img">
                                    <p>FLUTTER</p>
                                </a>
                            </li>
                            <li>
                                <a href="javascript:void(0)" class="tech-item">
                                    <img src="../../Content/images/react.png" alt="react-img">
                                    <p>REACT NATIVE</p>
                                </a>
                            </li>
                            <li>
                                <a href="javascript:void(0)" class="tech-item">
                                    <img src="../../Content/images/swift.png" alt="swift-img">
                                    <p>SWIFT</p>
                                </a>
                            </li>
                            <li>
                                <a href="javascript:void(0)" class="tech-item">
                                    <img src="../../Content/images/ionic.png" alt="ionic-img">
                                    <p>IONIC</p>
                                </a>
                            </li>
                            <li>
                                <a href="javascript:void(0)" class="tech-item">
                                    <img src="../../Content/images/kotlin.png" alt="kotlin-img">
                                    <p>KOTLIN</p>
                                </a>
                            </li>
                        </ul>
                    </div>

                    <div class="tab-pane fade" id="tab5" role="tabpanel" aria-labelledby="tab5-id">
                        <ul>
                            <li>
                                <a href="javascript:void(0)" class="tech-item">
                                    <img src="../../Content/images/android.png" alt="android-img">
                                    <p>ANDROID</p>
                                </a>
                            </li>
                            <li>
                                <a href="javascript:void(0)" class="tech-item">
                                    <img src="../../Content/images/ios.png" alt="ios-img">
                                    <p>IOS</p>
                                </a>
                            </li>
                            <li>
                                <a href="javascript:void(0)" class="tech-item">
                                    <img src="../../Content/images/flutter.png" alt="flutter-img">
                                    <p>FLUTTER</p>
                                </a>
                            </li>
                            <li>
                                <a href="javascript:void(0)" class="tech-item">
                                    <img src="../../Content/images/react.png" alt="react-img">
                                    <p>REACT NATIVE</p>
                                </a>
                            </li>
                            <li>
                                <a href="javascript:void(0)" class="tech-item">
                                    <img src="../../Content/images/swift.png" alt="swift-img">
                                    <p>SWIFT</p>
                                </a>
                            </li>
                            <li>
                                <a href="javascript:void(0)" class="tech-item">
                                    <img src="../../Content/images/ionic.png" alt="ionic-img">
                                    <p>IONIC</p>
                                </a>
                            </li>
                            <li>
                                <a href="javascript:void(0)" class="tech-item">
                                    <img src="../../Content/images/kotlin.png" alt="kotlin-img">
                                    <p>KOTLIN</p>
                                </a>
                            </li>
                        </ul>
                    </div>

                    <div class="tab-pane fade" id="tab6" role="tabpanel" aria-labelledby="tab6-id">
                        <ul>
                            <li>
                                <a href="javascript:void(0)" class="tech-item">
                                    <img src="../../Content/images/android.png" alt="android-img">
                                    <p>ANDROID</p>
                                </a>
                            </li>
                            <li>
                                <a href="javascript:void(0)" class="tech-item">
                                    <img src="../../Content/images/ios.png" alt="ios-img">
                                    <p>IOS</p>
                                </a>
                            </li>
                            <li>
                                <a href="javascript:void(0)" class="tech-item">
                                    <img src="../../Content/images/flutter.png" alt="flutter-img">
                                    <p>FLUTTER</p>
                                </a>
                            </li>
                            <li>
                                <a href="javascript:void(0)" class="tech-item">
                                    <img src="../../Content/images/react.png" alt="react-img">
                                    <p>REACT NATIVE</p>
                                </a>
                            </li>
                            <li>
                                <a href="javascript:void(0)" class="tech-item">
                                    <img src="../../Content/images/swift.png" alt="swift-img">
                                    <p>SWIFT</p>
                                </a>
                            </li>
                            <li>
                                <a href="javascript:void(0)" class="tech-item">
                                    <img src="../../Content/images/ionic.png" alt="ionic-img">
                                    <p>IONIC</p>
                                </a>
                            </li>
                            <li>
                                <a href="javascript:void(0)" class="tech-item">
                                    <img src="../../Content/images/kotlin.png" alt="kotlin-img">
                                    <p>KOTLIN</p>
                                </a>
                            </li>
                        </ul>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>