<div class="blog-wrapper">
  <div class="container">
    <h1 class="blog-heading text-center">Latest Blog Articles</h1>
    <div class="row">
      <div class="col-md-4">
        <div class="blog-card">
          <div class="blog-card-img">
            <img
              class="card-primary-img img-fluid"
              src="../../Content/images/blog-1.jpg"
              alt="Image"
            />
            <div class="top-items">
              <span class="card-date">Web</span>
              <span class="card-date">Jul 30,2023</span>
            </div>
            <i class="fa fa-eye card-icon" style="color: whitesmoke;" aria-hidden="true"><span class="card-icon-views">250</span></i>
          </div>
          <div class="blog-card-content">
            <h2 class="blog-card-title">
              10+ Best Cheap Cameras for Photography
            </h2>
            <p class="blog-card-para">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
              eiusmod incididunt ut suspendisse gravida. commodo maecenas
              accumsan lacus vel facilisis.
            </p>
            <a class="blog-card-link" href="#">Read More</a>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="blog-card">
          <div class="blog-card-img">
            <img
              class="card-primary-img img-fluid"
              src="../../Content/images/blog-1.jpg"
              alt="Image"
            />
            <div class="top-items">
              <span class="card-date">App</span>
              <span class="card-date">Jul 30,2023</span>
            </div>
            <i class="fa fa-eye card-icon" style="color: whitesmoke;" aria-hidden="true"><span class="card-icon-views">250</span></i>
          </div>
          <div class="blog-card-content">
            <h2 class="blog-card-title">
              10+ Best Laptops for Coding,
Programming & Development
            </h2>
            <p class="blog-card-para">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
              eiusmod incididunt ut suspendisse gravida. commodo maecenas
              accumsan lacus vel facilisis.
            </p>
            <a class="blog-card-link" href="#">Read More</a>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="blog-card">
          <div class="blog-card-img">
            <img
              class="card-primary-img img-fluid"
              src="../../Content/images/blog-1.jpg"
              alt="Image"
            />
          <div class="top-items">
            <span class="card-date">eCommerce</span>
            <span class="card-date">Jul 30,2023</span>
          </div>
            <i class="fa fa-eye card-icon" style="color: whitesmoke;" aria-hidden="true"><span class="card-icon-views">250</span></i>
          </div>
          <div class="blog-card-content">
            <h2 class="blog-card-title">
              The Best Apple MacBooks
for Graphic Design
            </h2>
            <p class="blog-card-para">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
              eiusmod incididunt ut suspendisse gravida. commodo maecenas
              accumsan lacus vel facilisis.
            </p>
            <a class="blog-card-link" href="#">Read More</a>
          </div>
        </div>
      </div>
    </div>
    <div class="blog-view-all">
      <button class="blog-view-more" type="submit"><a class="text-decoration-none text-white" href="#">View More</a></button>
    </div>
  </div>
</div>