<div class="stats-wrapper">
  <div class="stats">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="stats-title">
            <h1 class="stats-heading text-center">Our Work And Presence</h1>
          </div>
        </div>
      </div>

      <div class="stats-generation">
        <div class="row">
          <div class="col-12 col-md-6 col-lg-3">
            <div class="stats-content">
              <p class="stats-number">500+</p>
              <div class="stats-divider"></div>
              <p class="stats-label">App Developed</p>
            </div>
          </div>
          <div class="col-12 col-md-6 col-lg-3">
            <div class="stats-content">
              <p class="stats-number">700+</p>
              <div class="stats-divider"></div>
              <p class="stats-label">Website Designed</p>
            </div>
          </div>
          <div class="col-12 col-md-6 col-lg-3">
            <div class="stats-content">
              <p class="stats-number">1000+</p>
              <div class="stats-divider"></div>
              <p class="stats-label">Happy Clients</p>
            </div>
          </div>
          <div class="col-12 col-md-6 col-lg-3">
            <div class="stats-content">
              <p class="stats-number">1000+</p>
              <div class="stats-divider"></div>
              <p class="stats-label">Developers</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>